body {
    font-size: 1.8em;
    display: flex;
	flex-direction: column;
    align-items: center;
    font-family: monospace;
   
}

a {
    color: black;
}

h1 {
    text-align: center;
}

p {
    font-size: 23px;
}

section > p {
    width: 1120px;
    text-align: justify;
}

.gamecontent {
    display: flex;padding-bottom: 100px;
    background-color: red;
  }